<ng-template [ngIf]="display === 'ready'">
  <section class="workbook-section">
    Ready
    <button mlButton (click)="play()">Play</button>
  </section>
</ng-template>


<ng-template [ngIf]="display === 'playing'">
  <header class="workbook-playing-header"></header>
  <section class="workbook-playing-section" [class]="playingDisplayClass">
    <div class="workbook-question">
      <div class="workbook-text" [innerHTML]="currentQuestion.question"></div>
    </div>

    <div class="workbook-answer">
      <div mlRipple class="workbook-answer-card workbook-answer-0" (click)="onClickAnswerButton(0)">
        <div class="workbook-text'" [innerHTML]="currentQuestion.answers[0]"></div>
      </div>

      <div mlRipple class="workbook-answer-card workbook-answer-1" (click)="onClickAnswerButton(1)">
        <div class="workbook-text'" [innerHTML]="currentQuestion.answers[1]"></div>
      </div>

      <div mlRipple class="workbook-answer-card workbook-answer-2" (click)="onClickAnswerButton(2)">
        <div class="workbook-text'" [innerHTML]="currentQuestion.answers[2]"></div>
      </div>

      <div mlRipple class="workbook-answer-card workbook-answer-3" (click)="onClickAnswerButton(3)">
        <div class="workbook-text'" [innerHTML]="currentQuestion.answers[3]"></div>
      </div>
    </div>
  </section>
</ng-template>


<ng-template [ngIf]="display === 'result'">
  <section class="workbook-section">
    Result {{ counter.correctCount }} {{ counter.mistakeCount }}
    <button mlButton (click)="display = 'ready'">Change config</button>
    <button mlButton (click)="play()">Replay</button>
    <button
      [mlButton]="counter.mistakeCount !== 0"
      color="primary"
      (click)="replayOnlyMistakes()"
    >
      Replay only the mistake
    </button>
  </section>
</ng-template>
