@import '@material-lite/angular/theming';
@import './service/media-query/_media-query.sass';

$mp-normal-header-pane-height: 72px;

$mp-normal-header-height: 48px;
$mp-normal-header-top: ($mp-normal-header-pane-height - $mp-normal-header-height) / 2;

$mp-resting-header-height: 40px;
$mp-resting-header-top: 0;

$pc-header-height: 64px;

.root-header {
  &-pane {
    pointer-events: none;
    position: relative;
    z-index: 1;

    width: 100%;
    background-color: transparent;

    @include pc {
      height: $pc-header-height;
      z-index: 4;
    }

    @include mp {
      height: $mp-normal-header-pane-height;
      z-index: 8;
    }
  }

  &-wrapper {
    pointer-events: auto;
    position: relative;
    background: white;

    @include pc {
      @include ml-elevation(4);
    }

    @include mp {
      will-change: height, width, top;
      transition-property: height, width, top;
      transition-duration: 400ms;
      transition-timing-function: map-get($ml-animation-function, angular);

      width: 96%;
      height: 48px;
      position: fixed;
      top: $mp-normal-header-top;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include ml-elevation(8);
      border-radius: 8px;
    }
  }

  &-contents {
    @include mp {
      height: $mp-normal-header-height;
    }
    @include pc {
      height: $pc-header-height;
    }

    position: relative;
    display: flex;
  }

  // Common to children components
  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &-enter-active,
    &-leave-active {
      transition: opacity 280ms;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      position: absolute;

      @include mp {
        left: 72px;
      }

      @include pc {
        left: 64px;
      }
    }
  }

  &-common-button {
    @include mp {
      position: relative;
      min-width: 40px;
      z-index: 1;
      margin: auto 16px;
      font-size: 24px;

      svg {
        height: 24px;
        width: 24px;
      }
    }

    @include pc {
      width: 64px;
      height: 64px;
      font-size: 24px;
    }
  }

  &-content-not-transparent {
    @include mp {
      position: relative;
      z-index: 1;
    }
  }

  &-ripple {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &-predictive-candidates {
    opacity: 0;
    transition: opacity 400ms map-get($ml-animation-function, angular);
  }

  &-searching & {
    &-wrapper {
      height: 100vh;
      width: 100%;
      top: 0;
    }

    &-ripple {
      z-index: -1;

      .ml-ripple-element {
        opacity: 0 !important;
      }
    }

    &-predictive-candidates {
      height: 100%;
      opacity: 1;
      border-top: 1px solid rgba(0, 0, 0, 0.24);
    }
  }
}

.root-main {
  display: flex;

  @include mp {
    flex-direction: column;
  }

  @include pc {
    min-height: calc(100vh - #{$pc-header-height});
  }

  &-component-outlet {
    width: 100%;

    & > * {
      display: block;
    }
  }

  &-nav {
    display: flex;
    background: white;

    @include pc {
      position: relative;
      flex-direction: column;
      order: -1;
      z-index: 3;
      @include ml-elevation(4);

      .ml-button {
        width: 64px;
        height: 64px;
        padding: 0;
        border-radius: 0;
      }
    }

    @include mp {
      position: fixed;
      top: unset;
      bottom: 0;
      height: fit-content;
      width: 100%;

      z-index: 8;
      @include ml-elevation(8);

      .ml-button {
        width: 100%;
        height: 40px;
      }
    }

    &-straight-tracker .ml-tracker {
      @include mp {
        will-change: left;
        transition-property: left;
        transition-duration: 400ms;
      }

      @include pc {
        will-change: top;
        transition-property: top;
        transition-duration: 400ms;
      }
    }

    &-ink-bar {
      @include mp {
        height: 2px;
        width: 100%;
      }

      @include pc {
        height: 100%;
        width: 2px;
      }
    }

    &-button-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include pc {
        span {
          display: none;
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }

      @include mp {
        span {
          font-size: 10px;
          font-weight: 500;
          line-height: 1;
        }
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

// $root-drawer-width: 48px;
.root-drawer {
  &-pane {
    position: fixed;
    top: 0;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    z-index: 16;
  }

  &-content {
    width: 80%;
    max-width: 800px;
    min-width: 360px;
  }

  // transform: translateX(-100%);
}
