<header id="root-header-pane" [class]="rootHeaderStyling.paneClass">
  <section class="root-header-wrapper">
    <div class="root-header-contents">
      <button
        mlButton
        hoverAction="enable"
        (click)="rootHeaderEvents.commonButtonClickEvent()"
        [class]="'root-header-common-button root-header-common-button-' + rootHeaderStyling.commonButtonType"
        [variant]="mediaQueryStatus.headerCommonButtonVariant"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
      </button>

      <ng-template
        [mlPortalOutlet]="rootHeaderElement.content || defaultRouteHeaderContent"
        [mlPortalOutletAttachConfig]="rootHeaderElement.contentPortalConfig"
      ></ng-template>

      <div *ngIf="mediaQueryStatus.isMp" mlRipple (click)="rootHeaderEvents.mpWrapperClickEvent()" class="root-header-ripple"></div>
    </div>

    <div class="root-header-predictive-candidates">
      <!-- <div *ngFor="let candidate of rootHeader.predictiveCandidates"></div> -->
    </div>

    <ng-template #defaultRouteHeaderContent>
      <div class="root-header-content">
        <h3>Elextbook</h3>
      </div>
    </ng-template>
  </section>
</header>

<main class="root-main">
  <div class="root-main-component-outlet" [@routeAnimation]="routeKey">
    <router-outlet></router-outlet>
  </div>

  <nav class="root-main-nav">
    <ml-straight-tracker
      class="root-main-nav-straight-tracker"
      [targetIndex]="footerTabSelectedIndex"
      [position]="mediaQueryStatus.mainNavTrackerPosition"
      [orientation]="mediaQueryStatus.mainNavTrackerOrientation"
    >
      <div class="root-main-nav-ink-bar ml-primary-bg"></div>
    </ml-straight-tracker>

    <button mlButton routerLink="/home">
      <div class="root-main-nav-button-content">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
        </svg>
        <span>Home</span>
      </div>
    </button>

    <button mlButton routerLink="/workbook-list">
      <div class="root-main-nav-button-content">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"
          />
        </svg>
        <span>Workbook</span>
      </div>
    </button>
  </nav>
</main>

<aside *ngIf="rootDrawer.isExisted" [class]="rootDrawer.paneClass">
  <section class="root-drawer-content">
    <button mlButton (click)="history.back()">ボタン</button>
  </section>
</aside>
