@import './app/service/media-query/_media-query.sass';

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;

  @include mp {
    font-size: 14px;
  }
}

svg {
  fill: currentColor;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}
